@font-face {
	font-family: 'ProductSans';
	src: url('../fonts/n0c8y_dasvg2czm7uyqpln06qf9khrhwsvx7iw5mxmy-webfont.woff2') format('woff2'),
		  url('#{$icon-font-path}n0c8y_dasvg2czm7uyqpln06qf9khrhwsvx7iw5mxmy-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'ProductSans';
	src: url('../fonts/hyvgu2fe2nrjvz5jfaumwzs3e-ksbmtlonjpdtbj2pk-webfont.woff2') format('woff2'),
		  url('../fonts/hyvgu2fe2nrjvz5jfaumwzs3e-ksbmtlonjpdtbj2pk-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ProductSans';
	src: url('../fonts/axl-qz25m_fky0kdmuoo0ytfyakckpqomdce0h_3gd8-webfont.woff2') format('woff2'),
		  url('../fonts/axl-qz25m_fky0kdmuoo0ytfyakckpqomdce0h_3gd8-webfont.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'ProductSans';
	src: url('../fonts/bzgnunpv7iqa-jk_b6wuayxql91wry8t8mpvax_diga-webfont.woff2') format('woff2'),
		  url('../fonts/bzgnunpv7iqa-jk_b6wuayxql91wry8t8mpvax_diga-webfont.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}
